
#main-container {
    margin: 20px;
    padding: 10px;
}
#destinations-list li {
    cursor: pointer;
    list-style-type: none;
    padding: 10px;
    background-color: lightgrey;
    margin-bottom: 5px;
}
#thumbnails-container {
    display: grid;
    gap: 20px;
}
#thumbnails-container > h2 {
    grid-column: 1 / -1;
}
#thumbnails-container img {
    width: 200px;
    height: 200px;
}
#recently-viewed-container img {
    margin-right: 5px;
    width: 150px;
    height: 150px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    object-fit: contain;
}
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 600px;
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

@media (min-width: 1024px) {
    #thumbnails-container{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    #thumbnails-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    #thumbnails-container{
        grid-template-columns: 1fr;
    }
}

.carousel-container {
    position: relative;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
}

.carousel-slides {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 100;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}

.carousel-slides img {
    width: 100%;
    flex: 0 0 100%;
    object-fit: contain;
    max-height: 400px;
}
